body {
    background-color: rgb(171, 171, 171);
}

.cont {
    display: flex;
    justify-content: flex-start; /* Move content to the left */
    align-items: center;
    border: solid;
    border-radius: 70px;
    width: 65%;
    height: 80vh;
    margin-top: 80px;
    margin-left: 350px; /* Adjust the left margin as needed */
    background-color: white;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 16px 16px 20px black;
}

.conti {
    flex: 1;
    text-align: left; /* Align text to the left */
}

.conti h1 {
    font-size: 50px;
    color: rgb(69, 52, 69);
    margin-left: -500px;
}

.conti p {
    font-size: 20px;
    color: rgb(75, 56, 75);
    margin-left: -95px;
    margin-top: -100px;
}

.conti button {
    padding: 10px;
    color: white;
    background-color: rgb(67, 19, 126);
    width: 13%;
    height: 5vh;
    border-radius: 30px;
    margin-left: -70px;
}

.conti img{
    margin-left: 700px;
    margin-top: -600px;
}

nav{
    display: flex;
    margin-left: 700px;
    margin-top: -90px;
    list-style: none;
    gap: 80px;
}

nav li{
    font-size: 20px;
    color: rgb(87, 47, 87);
}


