body{
    background-image: url(./HD-wallpaper-purple-blue-waves-dark-purple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#cont ul{
    display: flex;
    justify-content: center;
    gap: 90px;
    font-size: 22px;
    list-style: none;
    color: white;
}
#cont ul #sp{
    color: rgb(30, 30, 86);
}
li button{
    background-color: rgb(15, 124, 187);
    padding: 10px;
    border-radius: 10px;
    margin-top: -20px;
    margin-left: -70px;
    color: white;
}
pre {
    font-size: 35px;
    color: rgb(219, 147, 255);
}
input{
    margin-left: 620px;
    width: 500px;
    height: 60px;
    border-radius: 20px;
    margin-top: -1000px;
}