body{
    background-color: black;
}

#divo{
    width: 1200px;
    height: 370px;
    background-color: white;
    margin-top: 200px;
    margin-left: 400px;
}

#heading{
    color: purple;
    font-size: 30px;
}

#demo{
    font-size: 30px;
}

#btn{
    background-color: blue;
}