@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: Rubik;
}
body{
    background-color: hsl(226, 43%, 10%);
}

#start{
    height: 450px;
    width: 200px;
    background-color:  hsl(235, 46%, 20%)
    ;
    margin-left: 200px;
    margin-top: 160px;
    border-radius: 10px;

}

#str{
    width: 200px;
    height: 320px;
    background-color: rgb(88,71,233);
    border-radius: 10px;
}

#str-img{
    width: 70px;
    border: solid;
    border-color: white;
    border-radius: 40px;
    margin: 20px;
}

#str-p{
    margin-left: 25px;
    color: rgb(187,182,255);
    font-size: 12px;
    
}

#str-h1{
    
    font-weight: 100;
    color: white;
}

.start-btn{
    margin-left: 25px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: solid;
    border-color: rgba(0, 0, 0, 0);
    color: rgb(187,182,255);
}

.start-btn:active{
    color: white;
}

#work{
    height: 200px;
    width: 180px;
    background-color: hsl(15, 100%, 70%);
    border-radius: 10px;
}

#play{
    height: 200px;
    width: 180px;
    background-color: hsl(195, 74%, 62%);
    border-radius: 10px;
}

#study{
    height: 200px;
    width: 180px;
    background-color: hsl(348, 100%, 68%);
    border-radius: 10px;
}

#exercise{
    height: 200px;
    width: 180px;
    background-color: hsl(145, 58%, 55%);
    border-radius: 10px;
}

#social{
    height: 200px;
    width: 180px;
    background-color:  hsl(264, 64%, 52%);
    border-radius: 10px;
}

#selfcare{
    height: 200px;
    width: 180px;
    background-color: hsl(43, 84%, 65%);
    border-radius: 10px;
}

#all{
    margin-left: 430px;
    margin-top: -447px;
    display: flex;
    gap: 40px;
}

#alll{
    margin-left: 430px;
    display: flex;
    gap: 40px;
    
}

#workk{
    width: 180px;
    height: 160px;
    background-color: hsl(235, 46%, 20%);
    margin-top: 40px;
    border-radius: 10px;
}
#playy{
    width: 180px;
    height: 160px;
    background-color: hsl(235, 46%, 20%);
    margin-top: 40px;
    border-radius: 10px;
}
#studyy{
    width: 180px;
    height: 160px;
    background-color: hsl(235, 46%, 20%);
    margin-top: 40px;
    border-radius: 10px;
}
#exe{
    width: 180px;
    height: 160px;
    background-color: hsl(235, 46%, 20%);
    margin-top: 40px;
    border-radius: 10px;
}
#soc{
    width: 180px;
    height: 160px;
    background-color: hsl(235, 46%, 20%);
    margin-top: 40px;
    border-radius: 10px;
}
#self{
    width: 180px;
    height: 160px;
    background-color: hsl(235, 46%, 20%);
    margin-top: 40px;
    border-radius: 10px;
}

.pp{
    color: white;
    margin: 30px;
    font-size: 15px;
    padding-top: 10px;
}

#lkj h1{
    margin: 30px;
    color: white;
    font-weight: 100;
    font-size: 40px;
}


#abc{
    margin-left: 100px;
}