body {
    background-color: rgb(120, 102, 102);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid rgb(255, 1, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    margin: 0;
    color: white;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 211, 253);
    border-radius: 50%;
    position: absolute;
}